/* base styles */
* {
    margin: 0;
    font-family: "Helvetica";
    color: #333;
    /* background-color: #33006F; */
    /* background-image: url('./images/purple_patten.jpeg'); */
  }
  body {
    /* background-image: url('./images/purple_patten.jpeg'); */
    background: #1a1463;
    background-size: contain, cover;
    z-index: -1;
    /* overflow: scroll; */
  }

/*
↓↓↓↓↓   NAVBAR    ↓↓↓↓↓
________________________________________________________________________________________________________________________________*/
.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background: transparent;
    /* max-width: 600px; */
    /* border-bottom: 1px solid #f2f2f2; */
    /* background-color: #800080; */
    /* background: linear-gradient(to bottom right, #800080, #4B0082); */
    position: fixed; 
    width: 100%;
    z-index: 1;
    /* opacity: 0%; */
    /* border-bottom: 0.1px ridge #1a1463; */


  }
  .navbar.active {
    background: linear-gradient(to bottom right, #800080, #4B0082);
  }



  /* .navbar h1 {
    color: #f1356d;
  } */
  .navbar .links {
    /* margin-left: 50%; */
    margin: auto;
    /* background: #4B0082; */
  }
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 15px;
    color:#f2f2f2;
    /* background: #4B0082; */
  }
  .navbar a:hover {
    color: #f1356d;
    background: #333;
  }
  /*
↓↓↓↓↓   content div & Banner image    ↓↓↓↓↓
________________________________________________________________________________________________________________________________*/
  .content {
    box-sizing: border-box;
    max-width: 600px;
    height: 100%;
    margin: auto;
    /* padding: 20px; */
    background: #696969;
    padding-top:1 0px;
  }
  /* .content h1 {
    background: #696969;
    background: linear-gradient(to bottom right, #800080, #4B0082);
  } */

  /* This one looks after the banner div inside the pages */
  .banner div img {
    display: flex;
    width: 100%;
    height: 300px;
    max-height: 30%;
    overflow: hidden;
    object-fit: cover;
    object-position: 0 0;
}
.banner h1{
  position: absolute;  
  /* justify-content: center; */
  top: 15%;
  left: 50%;
  color:#ffffff;
  transform: translate(-50%, -50%);
  font-size: 40px;
}


/* Character previews / list */
.rankings-wrapper{
  border: 1px solid #fafafa;
}


.character-wrapper {
  display:flex; 
  flex-direction:row;
  padding: 0px 16px 0px 16px;
  /* margin: 20px 0; */
  /* border: 1px solid #fafafa; */
  margin-top: 0;
  margin-bottom: auto;
}
.character-wrapper h2 {
  font-size: 20px;
  color: #f1356d;
}
.character-wrapper img{
  /* position: static;  
  justify-content: left; */
  height:100px;
  width: 100px;
  /* border: 1px solid #fafafa; */
  

}
.character-info{
  display:flex; 
  flex-direction:row; 
  border: 1px solid #fafafa;
  color: #f1356d;
  height:100px;
  width: 100%;
}
.character-img{
}

/* align-items does vertical and justify-content does horizontal */
.rank{
  display: flex;
  justify-content: center;
  align-items: center; 
  height:100px;
  width: 75px;
  border: 1px solid #fafafa;
}
.column-wrapper {
  display:flex; 
  flex-direction:row;
  padding: 0px 16px 0px 16px;
  /* margin: 20px 0; */
  /* border: 1px solid #fafafa; */
  margin-top: 0;
  margin-bottom: auto;
}
.rank-title {
  height:100%;
  width: 75px;
  border: 1px solid #fafafa;
}
.info-title {
  display:flex; 
  flex-direction:row; 
  border: 1px solid #fafafa;
  color: #f1356d;
  height:100%;
  width: 100%;
}


